<form #retrieveGIF = "ngForm" (ngSubmit) = "retrieveuserGIF()">

  <div class = "form-group">

    <label for="searchUser" >Enter UserID</label>

    <input type="text" name = "username"  #text id = "searchUser" required class = "form-control" placeholder = "Search User" ngModel>   <!-- [(ngModel)]="property" -->

    <button type="submit" class = "btn btn-success form-control">Submit</button>

  </div>

</form>

<div class="container" >

  <div class = "row" style = "padding-bottom: 5px" *ngFor="let gif of retrievedGIFs">
      <div class = "col-sm-4" >
        <img src="{{gif.url}}" class = "img-rounded img-responsive">
      </div>
    <br/>
    <br/>
  </div>
</div>
